@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
}

main {
  background: #004643;
  width: 100%;
  height: 100vh;
}

main .navbar {
  width: 100%;
}

main .navbar nav {
  min-height: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9% 1fr 1fr 9%;
      grid-template-columns: 9% 1fr 1fr 9%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .navbar nav a.icon-button {
  text-decoration: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  color: #fffffe;
  font-size: 2rem;
}

main .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .navbar nav ul li {
  margin: 0 1.25rem;
}

main .navbar nav ul li a {
  text-decoration: none;
  color: #fffffe;
}

main .navbar nav ul li a.button {
  padding: 10px 12px;
  border-radius: 3px;
  background-color: #f9bc60;
}

main section.banner-principal {
  margin: 3rem auto;
}

main section.banner-principal .card-background {
  position: absolute;
  background-color: #e8e4e6;
  margin: auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.banner-principal .card-background div, main section.banner-principal .card-background img {
  width: 50%;
  padding: 2.75rem;
}

main section.banner-principal .card-background div h2, main section.banner-principal .card-background img h2 {
  font-size: 2.5rem;
  color: #001e1d;
  margin: 1rem 0;
}

main section.banner-principal .card-background div p, main section.banner-principal .card-background img p {
  font-size: 1rem;
  margin: 0.25rem 0 0.9rem 0;
  color: #0f3433;
}

main section.banner-principal .card-background div a, main section.banner-principal .card-background img a {
  text-decoration: none;
  color: #fff;
  background-color: #f9bc60;
  padding: 10px 15px;
  margin: 1rem auto;
  display: inline-block;
}

.slider {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
}

section.modelos {
  height: 300vh;
  background-color: #abd1c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.modelos .descripcion-de-modelos {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5rem;
  position: relative;
}

section.modelos .descripcion-de-modelos::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 40%;
  background-color: #004643;
  top: 50%;
  opacity: 0.5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  border-radius: 20px;
}

section.modelos .descripcion-de-modelos h2 {
  color: #001e1d;
  margin: 1rem 0;
}

section.modelos .descripcion-de-modelos p {
  margin: 0.5rem 0;
  color: #0f3433;
}

section.modelos .descripcion-de-modelos a {
  display: inline-block;
  width: 25.75%;
  margin: 1rem 0;
  background-color: #f9bc60;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
}

section.modelos .nuestros-modelos {
  width: 50%;
}

section.modelos .nuestros-modelos div.contenedores-cards {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 4.75rem;
}

section.modelos .nuestros-modelos div.contenedores-cards div.card {
  padding: 4rem 2rem;
  background-color: #004643;
  position: relative;
}

section.modelos .nuestros-modelos div.contenedores-cards div.card h2 {
  color: #fffffe;
  font-weight: 700;
  font-size: 1.75rem;
  margin: 2rem 0 1rem;
}

section.modelos .nuestros-modelos div.contenedores-cards div.card p {
  color: #abd1c6;
  margin: 1rem 0 2rem;
  font-size: 1rem;
  font-weight: 500;
}

section.modelos .nuestros-modelos div.contenedores-cards div.card svg {
  position: absolute;
  right: -10%;
  -webkit-transform: translateX(-50%) scale(0.8);
          transform: translateX(-50%) scale(0.8);
  top: -320px;
}

section.modelos .nuestros-modelos div.contenedores-cards div.card img {
  width: 150px;
  vertical-align: top;
  position: absolute;
  right: -18%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.modelos .nuestros-modelos div.contenedores-cards div.card img.skate {
  top: -70px;
}

section.modelos .nuestros-modelos div.contenedores-cards div.card img.plane {
  top: -30px;
}

section.modelos .nuestros-modelos div.contenedores-cards div.card img.motor {
  top: -60px;
}

.contacto {
  width: 100%;
  padding: 5rem 0;
  background-color: #abd1c6;
}

.contacto .container {
  width: 85%;
  margin: 0 auto;
}

.contacto .container h2 {
  text-align: left;
  color: #001e1d;
  margin-top: 2rem;
}

.contacto .container form {
  display: -ms-grid;
  display: grid;
  margin: 2.5rem 0;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.contacto .container form .primero {
  height: 2.75rem;
  padding: 0 1rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  position: relative;
}

.contacto .container form .primero input {
  height: 100%;
  display: block;
  border: none;
  outline: none;
  padding-left: 1rem;
  color: #fffffe;
  background-color: #004643;
  width: 100%;
}

.contacto .container form .primero label {
  position: absolute;
  padding-left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 254, 0.6);
}

.contacto .container form .segundo {
  height: 2.75rem;
  padding: 0 1rem;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  position: relative;
}

.contacto .container form .segundo input {
  height: 100%;
  display: block;
  outline: none;
  padding-left: 1rem;
  color: #fffffe;
  border: none;
  background-color: #004643;
  width: 100%;
}

.contacto .container form .segundo label {
  position: absolute;
  padding-left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 254, 0.6);
}

.contacto .container form .tercero {
  height: 2.75rem;
  padding: 0 1rem;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.contacto .container form .tercero button {
  background-color: #f9bc60;
  border: none;
  outline: none !important;
  color: #001e1d;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 8rem;
  background-color: #004643;
}
/*# sourceMappingURL=main.css.map */