// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital@1&display=swap');

$blanco: #fffffe;
$button: #f9bc60;
$parrafos: #abd1c6;
$cardParrafo: #0f3433;
$fondo-cards: #004643;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    font-size: 16px;
}
main{
    background: #004643;
    width: 100%;
    height: 100vh;
    .navbar{
        width: 100%;
        nav{
            min-height: 5rem;
            display: grid;
            grid-template-columns: 9% 1fr 1fr 9%;
            align-items: center;
            .icon-button{
                text-decoration: none;
                transition: all .3s ease-in-out;
                cursor: pointer;
                grid-column: 2/3; 
                display: block; 
                color: $blanco;
                justify-content: flex-start;
                width: 45px;
                font-size: 2rem;
            }
            div.barra-open{
                transition: all .3s ease-in-out;
                pointer-events: none;
                position: absolute;
                top: 0;
                left: -30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 30%;
                height: 100vh;
                background: rgba($color: $blanco, $alpha: 0.9);
                .buscador{
                    width: 80%;
                    opacity: 0;
                    margin: 1rem auto;
                    div{
                        position: relative;
                        input[type="text"]{
                            background: rgba($color: $blanco, $alpha: 0.5);
                            outline: none !important;
                            border-radius: 50px;
                            padding: 10px;
                            width: 100%;
                            border: none;                            
                        }
                        i{
                            position: absolute;
                            right: 0;
                            padding-right: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
                .algunos-productos{
                    width: 80%;
                    opacity: 0;
                    margin: 1rem auto;
                    h3{
                        text-align: center;
                        font-size: 1.35rem;
                    }
                    div{
                        margin: 1.5rem 0;
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: row;
                        width: 100%;
                        height: 120px;
                        img{
                            width: 35%;
                            object-fit: cover;
                            vertical-align: top;
                            cursor: pointer;
                        }
                        div.texto{
                            display: flex;
                            flex-direction: column;
                            flex-wrap: nowrap;
                            align-items: center;
                            padding: 0.75rem;
                            h4{
                                font-size: 0.95rem;
                            }
                            p{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
            ul{
                display: flex;
                list-style: none;
                animation-duration: .3s;
                transition: all .3s ease-in-out;
                grid-column: 3/4;
                justify-content: flex-end;
                li{
                    margin: 0 1.25rem;
                    a{
                        text-decoration: none;
                        color: $blanco;
                        &.button{
                            padding: 10px 12px;
                            border-radius: 3px;
                            background-color: $button;
                        }
                    }
                }
            }
        }
    }
    section.banner-principal{
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 87.25vh;
        .card-background{
            position: absolute;
            background-color: #e8e4e6;
            margin: auto;
            width: 70%; //to 75%
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            div,img{
                width: 50%;
                padding: 2.75rem;
                h2{
                    font-size: 2rem;
                    color: #001e1d;
                    margin: 1rem 0;
                }
                p{
                    font-size: 1rem;
                    margin: 0.25rem 0 0.9rem 0;
                    color: $cardParrafo;
                }
                a{
                    text-decoration: none;
                    color: #fff;
                    background-color: $button;
                    padding: 10px 15px;
                    margin: 1rem auto;
                    display: inline-block;
                }
            }
        }
    }
}
.slider{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.9);
}
section.modelos{
    height: 300vh;
    background-color: #abd1c6;
    display: flex;
    .descripcion-de-modelos{
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5rem;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 5px;
            height: 40%;
            background-color: $fondo-cards;
            top: 50%;
            opacity: 0.5;
            transform: translateY(-50%);
            left: 50px;
            border-radius: 20px;
        }
        h2{
            color: #001e1d;
            margin: 1rem 0;
        }
        p{
            margin: 0.5rem 0;
            color: #0f3433;
        }
        a{
            display: inline-block;
            width: 25.75%;
            margin: 1rem 0;
            background-color: $button;
            color: #fff;
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 3px;
        }
    }
    .nuestros-modelos{
        width: 50%;
        div.contenedores-cards{
            height: 100vh;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            padding: 2rem 4.75rem;
            div.card{
                padding: 4rem 2rem;
                background-color: $fondo-cards;
                position: relative;
                h2{
                    color: $blanco;
                    font-weight: 700;
                    font-size: 1.75rem;
                    margin: 2rem 0 1rem;
                }
                p{
                    color: $parrafos;
                    margin: 1rem 0 2rem;
                    font-size: 1rem;
                    font-weight: 500;
                }
                svg{
                    position: absolute;
                    right: -10%;                    
                    transform: translateX(-50%) scale(0.8);
                    top: -320px;
                }
                img{
                    width: 150px;
                    vertical-align: top;
                    position: absolute;
                    right: -18%;
                    transform: translateX(-50%);
                    transition: all .3s ease-in-out;
                    &.skate{
                        top: -70px;
                    }
                    &.plane{
                        top: -30px;
                    }
                    &.motor{
                        top: -60px;
                    }
                }
            }
        }
    }
}
.spacer{
    background: $parrafos;
    padding: 3rem 0;
}
.servicios{
    background: $fondo-cards;
    padding: 3rem 0;
    h2{
        color: $blanco;
        text-align: center; 
        font-family: 'Grandstander', cursive;
        margin: 3rem 0;
        text-transform: uppercase;
        font-size: 2.5rem;
        letter-spacing: 0.15em;
    }
    .contenedor{
        width: 90%;
        margin: 0 auto;
        display: grid;
        margin-bottom: 3rem;
        grid-template-columns: repeat(3, 1fr);
        .card{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:hover .face{
                &.face1{
                    transform: translateY(0);
                    .content{
                        i, p{
                            color: $blanco;
                        }
                    }
                }
                &.face2{
                    transform: translateY(0);
                }
            }
            .face{
                width: 300px;
                height: 200px;
                transition: 0.5s;
                box-shadow: 2px 2px 2px rgba($color: #000, $alpha: 0.25);
                &.face1{
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    position: relative;
                    background: $button;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 10;
                    transform: translateY(100px);
                    .content{
                        cursor: pointer;
                        i{
                            font-size: 2.5rem;
                            text-align: center;
                            display: block;
                            margin: 0.5rem;
                            color: rgba($color: $blanco, $alpha: 0.6);
                        }
                        p{
                            margin: 0.5rem;
                            color: rgba($color: $blanco, $alpha: 0.6);
                        }
                    }
                }
                &.face2{
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    position: relative;
                    background: $parrafos;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    color: $blanco;
                    box-sizing: border-box;
                    transform: translateY(-100px);
                }
            }
        }
    }
}
.contacto{
    width: 100%;
    padding: 5rem 0;
    background-color: $parrafos;
    .container{
        width: 85%;
        margin: 0 auto;
        h2{
            text-align: left;
            color: #001e1d;
            margin-top: 2rem;
        }
        p{
            margin: 1rem 0;
            color: #0f3433;
        }
        form{
            display: grid;
            margin: 2.5rem 0;
            grid-template-columns: repeat(3,1fr);
            .primero{
                height: 2.75rem;
                padding: 0 1rem;
                grid-column: 1/2;
                position: relative;
                p.error{
                    font-size: 0.85rem;
                }
                input{
                    height: 100%;
                    display: block;
                    border: none;
                    outline: none;
                    padding-left: 1rem;
                    color: $blanco;
                    background-color: #004643;
                    width: 100%;
                    border-radius: 3px;
                    padding-top: 0.5rem;
                    padding-right: 1rem;
                    padding-bottom: 0.5rem;
                }
                label{
                    position: absolute;
                    padding-left: 1rem;
                    font-size: 1rem;
                    transition: all .25s ease-in-out;
                    top: 50%;
                    transform: translateY(-50%);
                    color: rgba($color: $blanco, $alpha: 0.6);
                    &.active{
                        top: -15px;
                        padding-left: 0.25rem;
                        opacity: 0.9;
                        font-size: 0.9rem;
                    }
                }
            }
            .segundo{
                height: 2.75rem;
                padding: 0 1rem;
                grid-column: 2/3;
                position: relative;
                p.error{
                    font-size: 0.85rem;
                }
                input{
                    height: 100%;
                    border-radius: 3px;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    display: block;
                    outline: none;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    color: $blanco;
                    border: none;
                    background-color: #004643;
                    width: 100%;
                }
                label{
                    position: absolute;
                    padding-left: 1rem;
                    transition: all .25s ease-in-out;
                    top: 50%;
                    transform: translateY(-50%);
                    color: rgba($color: $blanco, $alpha: 0.6);
                    &.active{
                        top: -15px;
                        padding-left: 0.25rem;
                        opacity: 0.9;
                        font-size: 0.9rem;
                    }
                }
            }
            button{
                background-color: $button;
                border: none;
                outline: none !important;
                color: #001e1d;
                display: inline-block;
                width: 80%;
                margin: 0 auto;
                height: 100%;
                padding-left: 2rem;
                padding-right: 2rem;
                font-weight: 600;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
}

@import 'footer';
@import 'media-query';